enablexsrf=true
xsrfkey=
xsrfexpire=3600
appname=go-vjudge
enableadmin=true
sessionon=true
httpport=8080
runmode=prod

dbtype=postgres
dbaddr=localhost:5432
dbuser=vjudge
dbpass=vjudge
dbname=vjudge

crawlerconfig=conf/crawler.json

[dev]
xsrfkey=aXhZblZabyRJYSV0ZGMHbGlBGA4pAHkuf3hbVQU1ZQw=

